body {
    text-align: center;
    margin: 0   ;

}

/* upper container */
.top-container {
    padding-top: 100px;
    height: 33.33%;
    background-color: #d2f1f6;
    display: inline-block;
    width: 100%;
    font-family: 'Lemonada', cursive;
    position: relative;
}

h1 {
    font-family: 'Lemon', cursive;
    margin: auto;
    width: 32%;
    color: rgb(15, 189, 189);
}

H2 {
    color: rgb(15, 189, 189);
}

.btcloud {
    position: absolute;
}

.upcloud {
    position: absolute;
    right: 301px;
    top: 50px;
}

.middle-container {
    /* background-color: #d2f1f6; */
    width: 100%;
}

.bottom-container {
    /* background-color: #d2f1f6; */
    width: 100%;
    margin-top: 50px;
    background-color: rgb(35, 220, 220);
    padding: 32px;
}

.btn {
    text-decoration: none;
    color: rgb(12, 110, 97);
    margin: 5px;
    
}
.ctbtn{
    text-decoration: none;
    background-color: rgb(33, 138, 138);
     padding: 3px;background-color: rgb(33, 138, 138);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills-row {
    width: 50%;
    margin: 85px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.codeimages {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilliesimages {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.ashimages {
    width: 12%;
    margin-top: 43px;
    margin-bottom: 25px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    margin: 50px auto 80px auto;
    width: 5%;
    border-width: 6px;
    border-color: grey;
}
#footerpara{
    color: white;
}
.contacts{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: center;
    line-height: 2;
}